@charset "UTF-8";

body {
	background-color: #efefef;
}

.body-bkackground {
	background-image: url(/images/background.jpg);
}

.main {
	background-color: white;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	margin-top: 39px;
	margin-bottom: 40px;
}

.btn-publish {
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
}

.publish-tag-showTab {
	margin-top: 10px;
}

.tab-content .tab-pane {
	margin: 10px;
}

.pagination {
	float: right;
}

/* 页面宽度 */
.web-size {
	width: 80%;
}

/* 标签集 */
.tab-content .label-info {
	font-size: 12px;
	white-space: normal;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}

.question-crestor-name {
	margin-top: 13px;
	margin-left: 10px;
}

.question-text {
	color: red;
	margin-left: 10px;
}

.text-desc {
	color: #999;
	font-size: 12px;
	font-weight: normal;
}
/* 头像  */
.avatorUrl {
	height: 47px;
}

.avatorUrl-second-comment {
	height: 30px;
}

.avatorUrl-comment {
	height: 34px;
	margin-top: 10px;
}

.error-desc {
	margin: 10%;
}
/* 评论输入 */
.comment {
	margin: 10px 0px;
}

.comment-textarea {
	height: 38px;
}
/* 回复评论  */
.icon {
	margin-left: 5px;
	font-size: 12px;
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
	border-radius: 4px;
}

.icon:hover {
	color: #00a1d6;
}

.media {
	margin-left: 15px;
	margin-top: 0;
}

.comment-handle:hover {
	color: #00a1d6;
	background: #e5e9ef;
}

.comment-menu {
	color: #99a2aa;
	font-size: 12px;
	margin-top: 10px;
}

.comment-userName {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 4px;
	/* 	display: block; */
	word-wrap: break-word;
	color: #00a1d6;
}

.comment-content {
	line-height: 20px;
	padding: 2px 0;
	font-size: 14px;
	text-shadow: none;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-word;
}

.comment-hr {
	margin-top: 10px;
	margin-bottom: 10px;
	/* 	border-top: #00a1d6; */
}

.comment-count {
	padding-top: 10px;
}
/* 二级回复  */
.media-body .media {
	margin-top: 0;
}

.second-commend-body {
	margin-top: 5px;
}
/* 问题标签 */
.question-tag {
	margin-right: 5px;
	background-color: #99cfff;
}

.question-tag:hover {
	background-color: deepskyblue;
}
/* 登录与注册页面 */
.from-sign {
	margin-left: 30%;
	margin-right: 40%;
	margin-top: 100px;
}
/* 个人主页 */
.person-avatar {
	text-align: center;
}

.person-avatar .img-thumbnail {
	height: 200px;
	margin-top: 15px;
}

.person-btn {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5;
}

.shell-size {
	height: 700px;
	border-left: 1px solid #efefef;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 登陆页面样式 */
.entry-bg {
	background-color: white;
	margin: 100px;
	width: 500px;
	margin: 3% 30%;
	border-radius: 30px;
}

.entry-bg .form-control {
	width: 60%;
}

.entry-input {
	width: 100%;
	margin-top: 55px;
	margin-bottom: 40px;
	margin-left: 47px;
}

/* error页面样式 */
.error-desc {
	text-align: center;
	line-height: 50px;
	margin-top: 100px;
	padding-right: 25%;
}

/* 页尾样式 */
.footer {
	color: white;
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: 楷体;
}

.footer-body {
	margin-bottom: 20px;
}
