@charset "UTF-8";

body {
	background-color: #efefef;
}

.main {
	margin: 30px;
	background-color: white;
}

.btn-publish {
	float: right;
	margin-bottom: 10px;
}

.question-text {
	color: red;
	margin-left: 10px;
}

.text-desc {
	color: #999;
	font-size: 12px;
	font-weight: normal;
}

.avatorUrl {
	height: 47px;
}

.avatorUrl-comment {
	height: 34px;
	margin-top: 10px;
}

.error-desc {
	margin: 10%;
}
/* 评论输入 */
.comment {
	margin: 10px 0px;
}

.comment-textarea {
	height: 38px;
}
/* 回复评论  */

.icon {
	margin-left: 5px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
	border-radius: 4px;
}

.icon:hover {
	color: #00a1d6;
	background: #e5e9ef;
}

.comment-menu {
	color: #99a2aa;
}

.comment-userName {
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	padding-bottom: 4px;
	display: block;
	word-wrap: break-word;
}

.comment-content {
	line-height: 20px;
	padding: 2px 0;
	font-size: 14px;
	text-shadow: none;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-word;
}

.comment-hr {
	margin-top: 10px;
}