<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>发布问题</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

<!-- 自己写的css文件 -->
<link rel="stylesheet" href="/css/mycss.css">

<!-- 引入jQuery.min.js文件，没这个文件下拉按钮失效-->
<script src="/js/jquery-3.4.1.min.js" ></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

<!-- 引入Markdown编译 -->
<link rel="stylesheet" href="/css/editormd.css" />
<script src="/js/editormd.min.js" type="application/javascript"></script>
</head>
<body>
	<div th:insert="~{navigation :: nav-top}"></div>
	<div class="container-fluid">
		<div class="row main">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<h2>
					<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
					发起
				</h2>
				<hr>
				<!-- 问题发布页面 -->
				<form action="/publish" method="post">
					<input type="hidden" th:value="${id}" name="id" id="id">
					<div class="form-group">
						<label for="title">问题标题（简单扼要）：</label> <input th:value="${title}"
							type="text" class="form-control" id="title" name="title"
							placeholder="问题标题。。。">
					</div>
					<!-- 添加Markdown初始化 -->
					<label for="description">问题补充（必填，请参照右侧提示）：</label>
					<div class="form-group" id="question-editor">
						<textarea th:text="${description}" class="form-control"
							id="description" name="description" cols="30" rows="10" style="display: none;"></textarea>
					</div>
					<div class="form-group">
						<label for="tag">添加标签：</label> <input th:value="${tag}"
							type="text" class="form-control" id="tag" name="tag"
							autocomplete="off" placeholder="输入标签，以逗号分隔" onclick="showSelectTag()">
					</div>
					<div id="select-tag" style="display: none;"
						class="publish-tag-showTab">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" th:each="tag,tagstat: ${tags}" th:class="${tagstat.first?'active':''}">
								<a th:href="${'#'+tag.tagCacheName}" aria-controls="home" role="tab"
								data-toggle="tab" th:text="${tag.tagCacheName}">语言</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane" th:id="${tag.tagCacheName}"
								th:each="tag,tagstat: ${tags}"
								th:class="${tagstat.first?'tab-pane active':'tab-pane'}">
								<span class="label label-info question-tag"
									th:each="tagValue : ${tag.tagCacheValue}"
									onclick="selectTag(this)" th:data-tag="${tagValue}"> <span
									class="glyphicon glyphicon-tags"></span> <span
									th:text="${'&nbsp;'+tagValue}"></span>
								</span>
							</div>
						</div>
					</div>
					<div style="float: left;">
						<span th:text="${error}" class="question-text"></span>
					</div>
					<button type="submit" class="btn btn-success btn-publish">发布</button>
				</form>

			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<h3>问题发布指南</h3>
				* 问题标题：请用精简的语言描述您发布的问题，不超过25字； <br> *
				问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料； <br> *
				选择标签：选择一个或对个合适的标签，用逗号隔开，每个标签不超过10个字；<br>
			</div>
		</div>
	</div>
	<!-- 自己写的js文件-->
	<script src="/js/myjs.js" type="text/javascript"></script>
</body>
</html>