<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题详情</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

<!-- 自己写的css文件 -->
<link rel="stylesheet" href="/css/mycss.css">

<!-- 自己写的js文件-->
<script src="/js/myjs.js" type="text/javascript"></script>

<!-- 引入jQuery.min.js文件，没这个文件下拉按钮失效-->
<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
	<div th:insert="~{navigation :: nav-top}"></div>

	<div class="row main">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4>
					<span th:text="${question.title}"> </span>
				</h4>
				<span class="text-desc"> 标签：<span
					th:text="${question.tag +' |'}"></span> 作者：<span
					th:text="${question.user.name +' |'}"></span> 发布时间：<span
					th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd') +' |'}"></span>
					阅读数：<span th:text="${question.viewCount}"></span>
				</span>
				<hr>
				<span th:text="${question.description}"></span>
				<hr>
				<a th:href="@{'/publish/'+${question.id}}" class="text-desc"
					th:if="${session.user!=null && session.user.id==question.creator}">
					<span class="glyphicon glyphicon-pencil"></span> 编辑
				</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object img-rounded avatorUrl"
							th:src="${question.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading" th:text="${question.user.name}"></h4>
					</div>
				</div>
				<input type="hidden" th:value="${question.id}" id="question_id">
				<textarea class="form-control comment" rows="6" id="comment_content"></textarea>
				<button type="button" class="btn btn-success btn-publish"
					id="commentSubmit" onclick="post()">回复</button>
					
			</div>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>发起人</h3>
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object img-rounded avatorUrl"
							th:src="${question.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading" th:text="${question.user.name}"></h4>
					</div>
				</div>
				<hr>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>相关问题</h3>
			</div>
		</div>
	</div>
</body>
</html>