<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题详情</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

<!-- 自己写的css文件 -->
<link rel="stylesheet" href="/css/mycss.css">

<!-- 引入jQuery.min.js文件，没这个文件下拉按钮失效-->
<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
	<div th:insert="~{navigation :: nav-top}"></div>

	<div class="row main">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
			<!-- 提问详情 -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4>
					<span th:text="${question.title}"> </span>
				</h4>
				<span class="text-desc"> 标签：<span
					th:text="${question.tag +' |'}"></span> 作者：<span
					th:text="${question.user.name +' |'}"></span> 发布时间：<span
					th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd') +' |'}"></span>
					阅读数：<span th:text="${question.viewCount}"></span>
				</span>
				<hr>
				<span th:text="${question.description}"></span>
				<hr>
				<a th:href="@{'/publish/'+${question.id}}" class="text-desc"
					th:if="${session.user!=null && session.user.id==question.creator}">
					<span class="glyphicon glyphicon-pencil"></span> 编辑
				</a>
			</div>
			<!-- 评论内容 -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4>
					<span th:text="${question.commentCount}"></span> 个回复
				</h4>
				<hr class="comment-hr">
				<div class="media" th:each="comment:${comments}">
					<div class="media-left" style="padding-right: 25px;">
						<a href="#"> <img class="media-object img-rounded avatorUrl"
							th:src="${comment.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body">
						<div class="comment-userName">
							<span class="media-heading" th:text="${comment.user.name}"></span>
						</div>
						<div class="comment-content" th:text="${comment.content}">sadfasdfaf</div>
						<div class="comment-menu">
							<span th:text="${#dates.format(comment.gmtCreate,'yyy-MM-dd HH:mm')}"></span>
							<span class="glyphicon glyphicon-thumbs-up icon"></span>
							<span class="glyphicon glyphicon-thumbs-down icon"></span>
							<span class="icon">回复</span>
							<span class="icon">删除</span>
						</div>
						<hr class="comment-hr">
					</div>
				</div>
			</div>
			<!-- 评论输入框 -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="media" id="commentUser">
					<div class="media-left">
						<a href="#"> <img class="media-object img-rounded avatorUrl-comment"
							th:src="${question.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body" id="commentBody">
						<textarea class="form-control comment" rows="1" id="commentContent" style="height: 34PX;" placeholder="想对作者说点什么吗"></textarea>
						<button type="button" class="btn btn-success btn-publish" id="commentSubmit" style="display: none;">回复</button>
					</div>
				</div>
				<input type="hidden" th:value="${question.id}" id="question_id">
			</div>
		</div>
		<!-- 右侧显示栏 -->
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>发起人</h3>
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object img-rounded avatorUrl"
							th:src="${question.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading" th:text="${question.user.name}"></h4>
					</div>
				</div>
				<hr>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>相关问题</h3>
			</div>
		</div>
	</div>
	<!-- 自己写的js文件-->
	<script src="/js/myjs.js" type="text/javascript"></script>
</body>
</html>