<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题详情</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
<!-- 引入jQuery.min.js文件，没这个文件下拉按钮失效-->
<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

<!-- 自己写的css文件 -->
<link rel="stylesheet" href="/css/mycss.css">

<script src="/js/moment.js" type="text/javascript"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!-- 引入Markdown显示 -->
<link rel="stylesheet" href="/css/editormd.preview.min.css" />
<script src="/js/editormd.js"></script>
<script src="/js/lib/marked.min.js"></script>
<script src="/js/lib/prettify.min.js"></script>

<!-- 自己写的js文件-->
<script src="/js/myjs.js" type="text/javascript"></script>

</head>
<body>
	<div th:insert="~{navigation :: nav-top}"></div>

	<div class="row main">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
			<!-- 提问详情 -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4>
					<span th:text="${question.title}"> </span>
				</h4>
				<span class="text-desc"> 作者：<span
					th:text="${question.user.name +' |'}"></span> 发布时间：<span
					th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd') +' |'}"></span>
					阅读数：<span th:text="${question.viewCount}"></span>
				</span>
				<hr>
				<!-- Markdown显示问题描述 -->
				<div id="question-description-view">
					<textarea style="display: none;" th:text="${question.description}"></textarea>
				</div>
				<script type="text/javascript">
					$(function() {
						var testView = editormd.markdownToHTML(
								"question-description-view", {});
					});
				</script>
				<hr>
				<!-- 标签 -->
				<div>
					<span class="label label-info question-tag"
						th:each="tag : ${question.tag.split('，')}"> <span
						class="glyphicon glyphicon-tags"></span> <span
						th:text="${'&nbsp;'+tag}"></span>
					</span>
				</div>
				<hr>
				<a th:href="@{'/publish/'+${question.id}}" class="text-desc"
					th:if="${session.user!=null && session.user.id==question.creator}">
					<span class="glyphicon glyphicon-pencil"></span> 编辑
				</a>
			</div>
			<!-- 评论内容 -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h4 class="comment-count">
					<span th:text="${question.commentCount}"></span> 评论
				</h4>
				<hr class="comment-hr">
				<div class="media" th:each="comment:${comments}">
					<div class="media-left" style="padding-right: 25px;">
						<a href="#"> <img class="media-object img-rounded avatorUrl"
							th:src="${comment.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body">
						<div class="comment-userName">
							<span class="media-heading" th:text="${comment.user.name}"></span>
						</div>
						<div class="comment-content" th:text="${comment.content}">评论内容</div>
						<div class="comment-menu">
							<span th:text="${#dates.format(comment.gmtCreate,'yyy-MM-dd HH:mm')}"></span>
							<span class="glyphicon glyphicon-thumbs-up icon" th:data-id="${comment.id}"
								onclick="like(this)" th:text="${comment.likeCount}">
								喜欢</span>
<!-- 							<span class="glyphicon glyphicon-thumbs-down icon">厌恶</span> -->
							<span class="icon comment-handle" th:data-id="${comment.id}" th:data-creator="${comment.commentator}"
								id="comment-reply" th:data-aa="${session.user.id}" th:text="${'回复  '+comment.commentCount}">
								回复</span> 
							<span class="icon comment-handle" onclick="delect(this)" th:data-id="${comment.id}" 
								th:data-type="${comment.parentType}" th:data-parentId="${comment.parentId}" 
								th:if="${session.user.id==comment.user.id}">
								删除</span>
						</div>
						<hr class="comment-hr">
						<!-- 二级回复 -->
						<script type="text/javascript">
							collapseComment();
						</script>
						<div th:id="${'comment-'+comment.id}"></div>
						<!-- <div class="media" th:each="comment:${comments}">
							<div class="media-left">
								<a href="#"> <img
									class="media-object img-rounded avatorUrl-second-comment"
									th:src="${comment.user.avatarUrl}">
								</a>
							</div>
							<div class="media-body">
								<div class="second-commend-body">
									<span class="media-heading comment-userName"
										th:text="${comment.user.name +'&nbsp; ：'}"></span> <span
										class="comment-content" th:text="${comment.content}"></span>
								</div>
								<div class="comment-menu">
									<span
										th:text="${#dates.format(comment.gmtCreate,'yyy-MM-dd HH:mm')}"></span>
									<span class="glyphicon glyphicon-thumbs-up icon"></span> <span
										class="icon comment-handle">回复</span> <span
										class="icon comment-handle">删除</span>
								</div>

								<hr class="comment-hr">
							</div>
						</div> -->
						<div>
							<input type="text" class="form-control" placeholder="评论一下。。。"
								th:id="${'input-'+comment.id}">
							<button type="button" class="btn btn-success btn-publish"
								onclick="commentSecond(this)" th:data-id="${comment.id}">评论</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 评论输入框 -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="media" id="commentUser">
					<div class="media-left">
						<a href="#"> <img
							class="media-object img-rounded avatorUrl-comment"
							th:src="${session.user==null?'/images/default-avatar.png':session.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body" id="commentBody">
						<textarea class="form-control comment" rows="1" autocomplete="off"
							id="commentContent" style="height: 34PX;" placeholder="想对作者说点什么吗" onclick="showText()" onblur="closeText()"></textarea>
						<button type="button" class="btn btn-success btn-publish"
							id="commentSubmit" style="display: none;" onclick="comment()">评论</button>
					</div>
				</div>
				<input type="hidden" th:value="${question.id}" id="question_id">
			</div>
		</div>
		<!-- 右侧显示栏 -->
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 shell-size">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>发起人</h3>
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object img-rounded avatorUrl"
							th:src="${question.user.avatarUrl}">
						</a>
					</div>
					<div class="media-body">
						<h4 class="question-crestor-name" th:text="${question.user.name}"></h4>
					</div>
				</div>
				<hr>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>站长寄语</h3>
				<br> 魔鬼总是会随心所欲地引用经文
				<hr>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>相关问题</h3>
				<ul>
					<li th:each="relevent:${releventQuestions}"><a
						th:href="@{'/question/'+${relevent.id}}"
						th:text="${relevent.title}"></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>